flows/flows.json
[
    {
        "id": "9ab1ca1fd55c609b",
        "type": "tab",
        "label": "chain package tests",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e23612403bebd7c6",
        "type": "tab",
        "label": "Gemini tests",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "07b23dfd979a88c0",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "01b571d17c098787",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "6a59a7a2a698b1eb",
        "type": "ui-page",
        "name": "ジャンケンポン (Rock Paper Scissors)",
        "ui": "07b23dfd979a88c0",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "01b571d17c098787",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "39de490c231a8a81",
        "type": "ui-group",
        "name": "You",
        "page": "6a59a7a2a698b1eb",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f3445455e5dd9502",
        "type": "ui-group",
        "name": "Me",
        "page": "6a59a7a2a698b1eb",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3ef77a94cafb97c5",
        "type": "ui-group",
        "name": "Result",
        "page": "6a59a7a2a698b1eb",
        "width": "12",
        "height": "1",
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2386a882de8fb587",
        "type": "inject",
        "z": "9ab1ca1fd55c609b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "978aa7da62c385cb"
            ]
        ]
    },
    {
        "id": "978aa7da62c385cb",
        "type": "template",
        "z": "9ab1ca1fd55c609b",
        "name": "prompt",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Am I smart?",
        "output": "str",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "0a9ff5d0912d7c1d"
            ]
        ]
    },
    {
        "id": "8d6903233b35d785",
        "type": "debug",
        "z": "9ab1ca1fd55c609b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "3c0d72d2a817908d",
        "type": "inject",
        "z": "9ab1ca1fd55c609b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "bcc9bd2b8e5a54da"
            ]
        ]
    },
    {
        "id": "bcc9bd2b8e5a54da",
        "type": "template",
        "z": "9ab1ca1fd55c609b",
        "name": "prompt",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Pickup key words from the attached document,\nthen count each key words and output the\nresult in JSON format. Output JSON data only.\n\n# document\n\nWebsites for 20-something men often revolve around personal growth, fitness, technology, and entertainment. Platforms like Reddit and Twitter provide diverse content and discussions, while fitness hubs such as Bodybuilding.com offer health insights. Tech enthusiasts frequent sites like TechCrunch for the latest gadgets. For personal finance, apps like Mint or blogs like Financial Samurai are popular. Entertainment websites like IMDb or gaming hubs like IGN keep them engaged. These platforms blend practicality, lifestyle, and leisure seamlessly.",
        "output": "str",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "e23fca183322d85b"
            ]
        ]
    },
    {
        "id": "bc4f192752649590",
        "type": "debug",
        "z": "9ab1ca1fd55c609b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "42850385b24eccc3",
        "type": "inject",
        "z": "9ab1ca1fd55c609b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "3601fffab0891281"
            ]
        ]
    },
    {
        "id": "8a39a97964e40826",
        "type": "image",
        "z": "9ab1ca1fd55c609b",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 200,
        "y": 420,
        "wires": []
    },
    {
        "id": "7e39d1b44ca35b77",
        "type": "debug",
        "z": "9ab1ca1fd55c609b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "3601fffab0891281",
        "type": "usb-camera",
        "z": "9ab1ca1fd55c609b",
        "mode": "encode",
        "format": "png",
        "filename": "image.jpg",
        "width": "256",
        "height": "256",
        "quality": "100",
        "brightness": "50",
        "contrast": "50",
        "saturation": "50",
        "hue": "50",
        "delay": "0",
        "name": "",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "8a39a97964e40826",
                "423c084e6105c394",
                "dc74f9b2e847d7ed"
            ]
        ]
    },
    {
        "id": "dc74f9b2e847d7ed",
        "type": "file",
        "z": "9ab1ca1fd55c609b",
        "name": "",
        "filename": "/tmp/testimg.png",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 490,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "423c084e6105c394",
        "type": "function",
        "z": "9ab1ca1fd55c609b",
        "name": "image url",
        "func": "msg.b64image = `data:image/png;base64,${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 340,
        "wires": [
            [
                "35f84dc7c33bc136"
            ]
        ]
    },
    {
        "id": "35f84dc7c33bc136",
        "type": "template",
        "z": "9ab1ca1fd55c609b",
        "name": "prompt",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Describe.",
        "output": "str",
        "x": 440,
        "y": 400,
        "wires": [
            [
                "3c3c6d49fd53c7d5"
            ]
        ]
    },
    {
        "id": "131ae2cab711dbc9",
        "type": "inject",
        "z": "9ab1ca1fd55c609b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "6f279ddef195ed1a"
            ]
        ]
    },
    {
        "id": "6f279ddef195ed1a",
        "type": "template",
        "z": "9ab1ca1fd55c609b",
        "name": "query",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Please explain the history of Hansaplatz.",
        "output": "str",
        "x": 250,
        "y": 560,
        "wires": [
            [
                "8eb12ebca702ab45"
            ]
        ]
    },
    {
        "id": "3e5753755564b9b7",
        "type": "debug",
        "z": "9ab1ca1fd55c609b",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 520,
        "wires": []
    },
    {
        "id": "0a9ff5d0912d7c1d",
        "type": "chat",
        "z": "9ab1ca1fd55c609b",
        "name": "",
        "json_output": "false",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "8d6903233b35d785"
            ]
        ]
    },
    {
        "id": "e23fca183322d85b",
        "type": "chat",
        "z": "9ab1ca1fd55c609b",
        "name": "",
        "json_output": "true",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "bc4f192752649590"
            ]
        ]
    },
    {
        "id": "3c3c6d49fd53c7d5",
        "type": "chat",
        "z": "9ab1ca1fd55c609b",
        "name": "",
        "json_output": false,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "7e39d1b44ca35b77"
            ]
        ]
    },
    {
        "id": "8eb12ebca702ab45",
        "type": "search",
        "z": "9ab1ca1fd55c609b",
        "name": "",
        "collection": "hansaplatz",
        "k": "8",
        "db_path": "/home/arao/node-red-genai/database/embeddings_openai.db",
        "embeddings_model": "text-embedding-3-small",
        "x": 370,
        "y": 560,
        "wires": [
            [
                "c2512261c2d2fe3e"
            ]
        ]
    },
    {
        "id": "c2512261c2d2fe3e",
        "type": "template",
        "z": "9ab1ca1fd55c609b",
        "name": "prompt",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Answer to the following query in 50 words\nreferring to the attached reference.\n\n## Query\n\n{{payload.query}}\n\n## Reference\n\n{{payload.ref}}",
        "output": "str",
        "x": 500,
        "y": 560,
        "wires": [
            [
                "2ab110c488d5dccd",
                "3e5753755564b9b7"
            ]
        ]
    },
    {
        "id": "2ab110c488d5dccd",
        "type": "chat",
        "z": "9ab1ca1fd55c609b",
        "name": "",
        "json_output": "false",
        "x": 650,
        "y": 560,
        "wires": [
            [
                "fa5526fe8a53fa83"
            ]
        ]
    },
    {
        "id": "a846ef4d39a7e26b",
        "type": "comment",
        "z": "9ab1ca1fd55c609b",
        "name": "Sample RAG flow",
        "info": "",
        "x": 120,
        "y": 520,
        "wires": []
    },
    {
        "id": "8fddfa4e088c5faa",
        "type": "comment",
        "z": "9ab1ca1fd55c609b",
        "name": "Sample JSON flow",
        "info": "",
        "x": 130,
        "y": 180,
        "wires": []
    },
    {
        "id": "868a7654c6e29ad5",
        "type": "comment",
        "z": "9ab1ca1fd55c609b",
        "name": "Sample test flow",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "bb5638e914538d38",
        "type": "comment",
        "z": "9ab1ca1fd55c609b",
        "name": "Sample image flow",
        "info": "",
        "x": 130,
        "y": 300,
        "wires": []
    },
    {
        "id": "fa5526fe8a53fa83",
        "type": "debug",
        "z": "9ab1ca1fd55c609b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 560,
        "wires": []
    },
    {
        "id": "58f510531a864acf",
        "type": "inject",
        "z": "9ab1ca1fd55c609b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "66a76424a5251c8b"
            ]
        ]
    },
    {
        "id": "66a76424a5251c8b",
        "type": "template",
        "z": "9ab1ca1fd55c609b",
        "name": "query",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "eco-friendly",
        "output": "str",
        "x": 250,
        "y": 660,
        "wires": [
            [
                "4e6048f250e05d21"
            ]
        ]
    },
    {
        "id": "4e6048f250e05d21",
        "type": "search",
        "z": "9ab1ca1fd55c609b",
        "name": "",
        "collection": "hansaplatz",
        "k": "8",
        "db_path": "/home/arao/node-red-genai/database/embeddings_openai.db",
        "embeddings_model": "sql-select",
        "x": 370,
        "y": 660,
        "wires": [
            [
                "c3803041d749aba0"
            ]
        ]
    },
    {
        "id": "c3803041d749aba0",
        "type": "debug",
        "z": "9ab1ca1fd55c609b",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 660,
        "wires": []
    },
    {
        "id": "7d891cb371b40510",
        "type": "comment",
        "z": "9ab1ca1fd55c609b",
        "name": "Sample SQL select flow",
        "info": "",
        "x": 140,
        "y": 620,
        "wires": []
    },
    {
        "id": "5c50ba8d442499ec",
        "type": "gemini",
        "z": "e23612403bebd7c6",
        "name": "Gemini",
        "x": 440,
        "y": 40,
        "wires": [
            [
                "027e8dea3cda18d5"
            ]
        ]
    },
    {
        "id": "1410bcfa7aa96aa7",
        "type": "inject",
        "z": "e23612403bebd7c6",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "9521792c71fcf423"
            ]
        ]
    },
    {
        "id": "027e8dea3cda18d5",
        "type": "debug",
        "z": "e23612403bebd7c6",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 40,
        "wires": []
    },
    {
        "id": "9521792c71fcf423",
        "type": "template",
        "z": "e23612403bebd7c6",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Am I smart?",
        "output": "str",
        "x": 280,
        "y": 40,
        "wires": [
            [
                "5c50ba8d442499ec",
                "2d6eb5d7d014cc9f"
            ]
        ]
    },
    {
        "id": "2d6eb5d7d014cc9f",
        "type": "chat",
        "z": "e23612403bebd7c6",
        "name": "OpenAI",
        "json_output": "false",
        "x": 440,
        "y": 100,
        "wires": [
            [
                "cd240a465e4dfb0e"
            ]
        ]
    },
    {
        "id": "cd240a465e4dfb0e",
        "type": "debug",
        "z": "e23612403bebd7c6",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "3750abf2295a3ed4",
        "type": "inject",
        "z": "e23612403bebd7c6",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "9a47db7818a6ca3f"
            ]
        ]
    },
    {
        "id": "9a47db7818a6ca3f",
        "type": "usb-camera",
        "z": "e23612403bebd7c6",
        "mode": "encode",
        "format": "png",
        "filename": "image.jpg",
        "width": "256",
        "height": "256",
        "quality": "100",
        "brightness": "50",
        "contrast": "50",
        "saturation": "50",
        "hue": "50",
        "delay": "0",
        "name": "",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "fbc9837e0424ec98",
                "1750fe0b0f1f31b2",
                "48b1a533dd89c484"
            ]
        ]
    },
    {
        "id": "1750fe0b0f1f31b2",
        "type": "function",
        "z": "e23612403bebd7c6",
        "name": "image url",
        "func": "msg.b64image = `data:image/png;base64,${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 240,
        "wires": [
            [
                "79682b1294c6d684"
            ]
        ]
    },
    {
        "id": "79682b1294c6d684",
        "type": "template",
        "z": "e23612403bebd7c6",
        "name": "prompt",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Describe.",
        "output": "str",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "7ed54fb284b694fb"
            ]
        ]
    },
    {
        "id": "fbc9837e0424ec98",
        "type": "image",
        "z": "e23612403bebd7c6",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 200,
        "y": 320,
        "wires": []
    },
    {
        "id": "48b1a533dd89c484",
        "type": "file",
        "z": "e23612403bebd7c6",
        "name": "",
        "filename": "/tmp/testimg.png",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 490,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4aaa6bbc9de6661d",
        "type": "debug",
        "z": "e23612403bebd7c6",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "7ed54fb284b694fb",
        "type": "gemini",
        "z": "e23612403bebd7c6",
        "name": "",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "4aaa6bbc9de6661d"
            ]
        ]
    },
    {
        "id": "9ce764d8a14cde00",
        "type": "gemini",
        "z": "e23612403bebd7c6",
        "name": "",
        "x": 430,
        "y": 460,
        "wires": [
            [
                "67a9b9721559fd67"
            ]
        ]
    },
    {
        "id": "bcb52187d9f95acd",
        "type": "inject",
        "z": "e23612403bebd7c6",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "69b3b935cca10b7a"
            ]
        ]
    },
    {
        "id": "cc2ac9faa2367a75",
        "type": "debug",
        "z": "e23612403bebd7c6",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "69b3b935cca10b7a",
        "type": "template",
        "z": "e23612403bebd7c6",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "List a few popular cookie recipes using this JSON schema:\n\nRecipe = {'recipeName': string}\nReturn: Array<Recipe>",
        "output": "str",
        "x": 280,
        "y": 460,
        "wires": [
            [
                "9ce764d8a14cde00"
            ]
        ]
    },
    {
        "id": "67a9b9721559fd67",
        "type": "object",
        "z": "e23612403bebd7c6",
        "name": "",
        "x": 570,
        "y": 460,
        "wires": [
            [
                "cc2ac9faa2367a75"
            ]
        ]
    },
    {
        "id": "2d34e6a9603df6bf",
        "type": "comment",
        "z": "e23612403bebd7c6",
        "name": "JSON test",
        "info": "",
        "x": 100,
        "y": 420,
        "wires": []
    },
    {
        "id": "ac0ead5cc5e9b746",
        "type": "comment",
        "z": "e23612403bebd7c6",
        "name": "Base64 image test",
        "info": "",
        "x": 130,
        "y": 200,
        "wires": []
    },
    {
        "id": "748f54f7bf612907",
        "type": "inject",
        "z": "e23612403bebd7c6",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "1aad26231eff77df"
            ]
        ]
    },
    {
        "id": "1aad26231eff77df",
        "type": "template",
        "z": "e23612403bebd7c6",
        "name": "query",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Please explain the history of Hansaplatz.",
        "output": "str",
        "x": 250,
        "y": 560,
        "wires": [
            [
                "274af7a15816dabb"
            ]
        ]
    },
    {
        "id": "bb7603f3a9cc27dc",
        "type": "debug",
        "z": "e23612403bebd7c6",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 520,
        "wires": []
    },
    {
        "id": "3dd6efc25da94265",
        "type": "template",
        "z": "e23612403bebd7c6",
        "name": "prompt",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Answer to the following query in 50 words\nreferring to the attached reference.\n\n## Query\n\n{{payload.query}}\n\n## Reference\n\n{{payload.ref}}",
        "output": "str",
        "x": 500,
        "y": 560,
        "wires": [
            [
                "bb7603f3a9cc27dc",
                "a4d0c02820aa2276"
            ]
        ]
    },
    {
        "id": "d680379ef67671df",
        "type": "comment",
        "z": "e23612403bebd7c6",
        "name": "Sample RAG flow",
        "info": "",
        "x": 120,
        "y": 520,
        "wires": []
    },
    {
        "id": "5c7ccfca155a69ce",
        "type": "debug",
        "z": "e23612403bebd7c6",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 560,
        "wires": []
    },
    {
        "id": "aa6c0af968c4f7b1",
        "type": "inject",
        "z": "e23612403bebd7c6",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "df2a19ae07aefeed"
            ]
        ]
    },
    {
        "id": "df2a19ae07aefeed",
        "type": "template",
        "z": "e23612403bebd7c6",
        "name": "query",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "eco-friendly",
        "output": "str",
        "x": 250,
        "y": 660,
        "wires": [
            [
                "94eb16dbc7e07126"
            ]
        ]
    },
    {
        "id": "8d25a6c7efa38276",
        "type": "debug",
        "z": "e23612403bebd7c6",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 660,
        "wires": []
    },
    {
        "id": "f32112e0835747d9",
        "type": "comment",
        "z": "e23612403bebd7c6",
        "name": "Sample SQL select flow",
        "info": "",
        "x": 140,
        "y": 620,
        "wires": []
    },
    {
        "id": "274af7a15816dabb",
        "type": "db",
        "z": "e23612403bebd7c6",
        "name": "",
        "collection": "hansaplatz",
        "k": "8",
        "db_path": "/home/arao/node-red-genai/database/embeddings_gemini.db",
        "sql_select": false,
        "x": 370,
        "y": 560,
        "wires": [
            [
                "3dd6efc25da94265",
                "bb7603f3a9cc27dc"
            ]
        ]
    },
    {
        "id": "a4d0c02820aa2276",
        "type": "gemini",
        "z": "e23612403bebd7c6",
        "name": "",
        "x": 650,
        "y": 560,
        "wires": [
            [
                "5c7ccfca155a69ce"
            ]
        ]
    },
    {
        "id": "94eb16dbc7e07126",
        "type": "db",
        "z": "e23612403bebd7c6",
        "name": "",
        "collection": "hansaplatz",
        "k": "8",
        "db_path": "/home/arao/node-red-genai/database/embeddings_gemini.db",
        "sql_select": true,
        "x": 390,
        "y": 660,
        "wires": [
            [
                "8d25a6c7efa38276"
            ]
        ]
    }
]